# Ignore everything
*

# Exceptions
!pnpm-workspace.yaml
!.gitignore
!README.md

!basic-sqlite
!basic-sqlite/**
!tracing
!tracing/**
!driver-adapters
!driver-adapters/**
!d1
!d1/**
!query-compiler
!query-compiler/**

# Ignore node_modules
**/node_modules
