# Ignore everything
*

# Exceptions
!pnpm-workspace.yaml
!.gitignore
!README.md

!basic-sqlite
!basic-sqlite/**
!basic-postgres
!basic-postgres/**
!tracing
!tracing/**
!driver-adapters
!driver-adapters/**
!d1
!d1/**
!studio
!studio/**

# Ignore node_modules
**/node_modules
