# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                                @Jolg42 @williamluke4 @millsp 

# root
/.github/                        @Jolg42 @williamluke4
/.github/workflows/benchmark.yml @williamluke4 
/scripts/                        @Jolg42 @williamluke4
/graphs/                         @williamluke4

# src
/.buildkite/                     @Jolg42 @williamluke4 @millsp
/scripts/                        @Jolg42 

# packages
/packages/cli/                   @Jolg42 @williamluke4 @millsp
/packages/client/                @williamluke4 @millsp
/packages/debug/                 @williamluke4 @millsp
/packages/engine-core/           @williamluke4 @millsp
/packages/generator-helper/      @williamluke4 @millsp
/packages/get-platform/          @williamluke4 @millsp
/packages/migrate/               @Jolg42
/packages/react-prisma/          @williamluke4 @millsp
/packages/sdk/                   @Jolg42 @williamluke4 @millsp 
/packages/integration-tests/     @williamluke4 @millsp 
