node_modules

yarn-error.log
dist
build
tmp
pnpm-debug.log
sandbox
.DS_Store

query-engine*
migration-engine*
schema-engine*
libquery_engine*
libquery-engine*
query_engine-windows.dll.node

*tmp.db
dist/

*.tsbuildinfo
.prisma
.pnpm-store

.vscode/*
!.vscode/launch.json.default
!.vscode/extensions.json
coverage

.eslintcache

.pnpm-debug.log

esm
reproductions/*
!reproductions/basic-sqlite
!reproductions/tracing
!reproductions/pnpm-workspace.yaml

dev.db
junit.xml
/output.txt

.envrc.local
