pnpm-lock.yaml
dist/
generated/
/.prisma
/packages/cli/build
/packages/cli/config.d.ts
/packages/cli/config.js
/packages/cli/prisma-client
/packages/cli/preinstall
/packages/client/runtime
/packages/client/generator-build
/packages/*/declaration
/packages/client/scripts/default-index.js
/packages/config/src/__tests__/fixtures/loadConfigFromFile/invalid/syntax-error/prisma.config.ts
/sandbox
/target
.idea/
.vscode/
