version: "3.7"
services:
  # In Docker
  # - TEST_POSTGRES_URI=postgres://prisma:prisma@postgres/tests
  # - TEST_POSTGRES_ISOLATED_URI=postgres://prisma:prisma@postgres_isolated:5435/tests
  # - TEST_MYSQL_URI=mysql://prisma:prisma@mysql:3306/tests
  # - TEST_MARIADB_URI=mysql://prisma:prisma@mariadb:4306/tests
  # - TEST_SQLSERVER_URI=sqlserver://SA:Prisma1-prisma@mssql:1433/master
  # - TEST_SQLSERVER_JDBC_URI=sqlserver://localhost:1433;database=master;user=SA;password=S1ddhant;trustServerCertificate=true;encrypt=DANGER_PLAINTEXT
  # Outside Docker
  # - TEST_POSTGRES_URI=postgres://prisma:prisma@localhost:5432/tests
  # - TEST_POSTGRES_ISOLATED_URI=postgres://prisma:prisma@localhost:5435/tests
  # - TEST_MYSQL_URI=mysql://prisma:prisma@localhost:3306/tests
  # - TEST_MARIADB_URI=mysql://prisma:prisma@localhost:4306/tests
  # - TEST_SQLSERVER_URI=sqlserver://SA:Prisma1-prisma@localhost:1433/master
  # - TEST_SQLSERVER_JDBC_URI=sqlserver://localhost:1433;database=master;user=SA;password=S1ddhant;trustServerCertificate=true;encrypt=DANGER_PLAINTEXT

  postgres:
    image: postgres:10
    restart: always
    environment:
      - POSTGRES_DB=tests
      - POSTGRES_USER=prisma
      - POSTGRES_PASSWORD=prisma
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  postgres_isolated:
    image: postgres:10
    restart: always
    environment:
      - POSTGRES_DB=tests
      - POSTGRES_USER=prisma
      - POSTGRES_PASSWORD=prisma
    volumes:
      - postgres_isolated:/var/lib/postgresql/data
    ports:
      - "5435:5432"

  mysql:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=tests
      - MYSQL_USER=prisma
      - MYSQL_PASSWORD=prisma
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3306:3306"

  mariadb:
    image: mariadb:10
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=tests
      - MYSQL_USER=prisma
      - MYSQL_PASSWORD=prisma
    volumes:
      - mariadb:/var/lib/mysql
    ports:
      - "4306:3306"

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    restart: always
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: 'Prisma1-prisma'
    volumes:
      - mssql:/var/opt/mssql
    ports:
      - "1433:1433"

volumes:
  postgres:
  postgres_isolated:
  mysql:
  mariadb:
  mssql:
