version: '3.7'
services:
  app:
    image: node:10
    volumes:
      - ../cli:/app
    working_dir: /app
    command: /app/scripts/test.sh
    environment:
      - TEST_POSTGRES_URI=postgres://prisma:prisma@postgres/
    depends_on:
      - postgres
  postgres:
    image: postgres:10.3
    restart: always
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
