export JS_PLANETSCALE_DATABASE_URL="mysql://USER:PASSWORD@aws.connect.psdb.cloud/DATABASE?sslaccept=strict"
export JS_NEON_DATABASE_URL="postgres://USER:PASSWORD@DATABASE-pooler.eu-central-1.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=10"
export JS_PG_DATABASE_URL="postgres://prisma:prisma@localhost:5432/tests"
export JS_PPG_DATABASE_URL="postgres://identifier:key@db.prisma.io:5432/postgres?sslmode=require"
