export JS_PLANETSCALE_DATABASE_URL="mysql://rkktvtka0swhgcp6m02u:pscale_pw_nw60nUUQ69OEpdAy4liK19yQdjEU4NUSiL9BqzfG2r2@aws.connect.psdb.cloud/cf-users?sslaccept=strict"
export JS_PLANETSCALE_SHADOW_DATABASE_URL="mysql://7yjjs4l82xwvfcqig291:pscale_pw_5rB0hFl5mTZnltvCeKY2ZwErhJQEdr8NkZ4ythiS24K@aws.connect.psdb.cloud/cf-users?sslaccept=strict"
export JS_NEON_DATABASE_URL="postgres://jkomyno:aiPsj5FrEN9t@ep-restless-cake-780415.eu-central-1.aws.neon.tech/neondb"
export JS_NEON_SHADOW_DATABASE_URL="postgres://jkomyno:aiPsj5FrEN9t@ep-still-rain-49733054.eu-central-1.aws.neon.tech/neondb"


export PRISMA_QUERY_ENGINE_LIBRARY="/Users/jkomyno/work/prisma/prisma-engines/target/debug/libquery_engine.dylib"
