node_modules
migration-engine
query-engine*
introspection-engine*
yarn-error.log
dist
build
.DS_Store
download-build
runtime
nexus_prisma_ncc_build
photogen_prisma_ncc_build
examples
prisma-test-utils_ncc
tmp
@prisma
pkg-build
download-done
prisma-client

prisma
.envrc
test
/prisma-client
write-test
prisma2*.tgz