name: Bundle size

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  size:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install & build
        uses: ./.github/actions/setup
        with:
          node-version: 18
          pnpm-version: 8
          skip-tsc: true
          skip-build: true

      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_step: install
