name: e2e
on:
  schedule:
    - cron: '*/5 * * * *'
jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: e2e
        run: sh .github/workflows/e2e.sh
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
