name: PR Code Security

on:
  pull_request:
    branches: [main]

jobs:
  secret-detection:
    name: Secret Detection
    if: github.event_name == 'pull_request'
    uses: prisma/.github/.github/workflows/secret_detection.yml@main
    secrets: inherit
  code-scanning:
    name: Code Scanning
    if: github.event_name == 'pull_request'
    uses: prisma/.github/.github/workflows/code_scanning.yml@main
