name: npm - release to latest
run-name: npm - release ${{ github.event.inputs.targetVersion }} from ${{ github.ref_name }} on latest tag

on:
  workflow_dispatch:
    inputs:
      targetVersion:
        description: 'Version to publish on latest tag (e.g. 5.0.0)'
        type: string
        required: true
      skipEcosystemTestsChecks:
        description: 'Skip ecosystem tests checks'
        type: boolean
      skipPackages:
        description: 'Skip publishing some packages? (e.g. `@prisma/debug,@prisma/internals`)'
        type: string
        required: false
      onlyPackages:
        description: 'Only publish some packages? (e.g. `@prisma/debug,@prisma/internals`)'
        type: string
        required: false
      dryRun:
        description: 'Check to do a dry run (does not publish packages)'
        type: boolean

jobs:
  release:
    uses: ./.github/workflows/release.yml
    with:
      timeout-minutes: 45
      target-version: ${{ github.event.inputs.targetVersion }}
      skip-ecosystem-tests-checks: ${{ github.event.inputs.skipEcosystemTestsChecks }}
      skip-packages: ${{ github.event.inputs.skipPackages }}
      only-packages: ${{ github.event.inputs.onlyPackages }}
      dry-run: ${{ github.event.inputs.dryRun }}
      skip-tagging-on-dry-run: true
      include-failure-notifications: true
      failure-title-template: 'prisma/prisma Release ${{ github.event.inputs.targetVersion }} from ${{ github.ref_name }} on latest tag failed :x:'
    secrets: inherit
