name: npm - release to dev/integration
run-name: npm - release from ${{ github.ref_name }} to dev/integration

on:
  push:
    branches:
      - main
      - 'integration/*'
      - '*.*.x'
    paths-ignore:
      # Any update here needs to be done for all files
      # (test.yml, benchmark.yml, release-ci.yml, bundle-size.yml, ci-aux-files.yml)
      - '*.md'
      - '*.bench.ts'
      - 'LICENSE'
      - '.dockerignore'
      # - 'scripts/ci/publish.ts' -> should not be ignored in this workflow
      - '.github/CODEOWNERS'
      - '.github/ISSUE_TEMPLATE/**'
      - '.github/DISCUSSION_TEMPLATE/**'
      - '.devcontainer/**'
      - '.vscode/**'
      - 'graphs/**'
      - 'sandbox/**'
  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Check to do a dry run (does not publish packages)'
        type: boolean
      forceIntegrationRelease:
        description: 'Check to force an integration release for any given branch name'
        type: boolean

jobs:
  release:
    uses: ./.github/workflows/release.yml
    with:
      timeout-minutes: 75
      dry-run: ${{ github.event.inputs.dryRun == 'true' }}
      force-integration-release: ${{ github.event.inputs.forceIntegrationRelease == 'true' }}
      include-failure-notifications: false
    secrets: inherit
