name: Update Engines Version
run-name: Update Engines on npm ${{ inputs.npmDistTag }} ${{ inputs.version }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to check and update the engines version'
        required: true
      npmDistTag:
        description: 'npm tag used for `@prisma/engines-version` in prisma/engines-wrapper repo (`latest`, `next`, `integration` or `patch`)'
        required: true
        type: choice
        options:
          - latest
          - next
          - integration
          - patch

jobs:
  update_engines:
    name: 'Check and update @prisma/engines-version@${{ github.event.inputs.version }}'
    runs-on: ubuntu-latest
    steps:
      - name: Print workflow_dispatch input
        env:
          THE_INPUT: '${{ toJson(github.event.inputs) }}'
        run: |
          echo "$THE_INPUT"

      - name: Determine base branch
        id: select-base
        uses: actions/github-script@v7
        with:
          script: |
            const distTag = context.payload.inputs.npmDistTag
            const version = context.payload.inputs.version
            let baseBranch = 'main'

            if (distTag === 'next') {
              baseBranch = 'next'
            } else if (distTag === 'patch') {
              const parts = version.split('.')
              if (parts.length < 2) {
                core.setFailed(`Unexpected version format: ${version}`)
                return
              }
              baseBranch = `${parts[0]}.${parts[1]}.x`
            }

            core.info(`Using base branch: ${baseBranch}`)
            core.setOutput('base', baseBranch)
            core.setOutput('displayBase', baseBranch)
            core.setOutput('isNext', distTag === 'next' ? 'true' : 'false')
            core.setOutput('isPatch', distTag === 'patch' ? 'true' : 'false')
            core.setOutput('distTag', distTag)

      - uses: actions/checkout@v4
        with:
          ref: ${{ steps.select-base.outputs.base }}
          fetch-depth: 0

      - uses: pnpm/action-setup@v4.0.0

      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: '20.19.0'

      # This step uses `@prisma/ensure-npm-release` (abbv. `enr`) https://github.com/prisma/ensure-npm-release
      - name: Check if version of @prisma/engines-version is available on npm
        run: |
          echo 'Checking that @prisma/engines-version has the published version @${{ github.event.inputs.version }}'
          pnpm --package=@prisma/ensure-npm-release dlx enr update -p @prisma/engines-version -u ${{ github.event.inputs.version }}

      # Note: @prisma/prisma-schema-wasm might take a few minutes before it's available
      # So expect to see a few automated retries happening in logs before it succeeds
      - name: Check if version of @prisma/prisma-schema-wasm is available on npm
        run: |
          echo 'Checking that @prisma/prisma-schema-wasm has the published version @${{ github.event.inputs.version }}'
          pnpm --package=@prisma/ensure-npm-release dlx enr update -p @prisma/prisma-schema-wasm -u ${{ github.event.inputs.version }}

      # Note: @prisma/query-compiler-wasm might take a few minutes before it's available too
      - name: Check if version of @prisma/query-compiler-wasm is available on npm
        run: |
          echo 'Checking that @prisma/query-compiler-wasm has the published version @${{ github.event.inputs.version }}'
          pnpm --package=@prisma/ensure-npm-release dlx enr update -p @prisma/query-compiler-wasm -u ${{ github.event.inputs.version }}

      # Note: @prisma/schema-engine-wasm might take a few minutes before it's available too
      - name: Check if version of @prisma/schema-engine-wasm is available on npm
        run: |
          echo 'Checking that @prisma/schema-engine-wasm has the published version @${{ github.event.inputs.version }}'
          pnpm --package=@prisma/ensure-npm-release dlx enr update -p @prisma/schema-engine-wasm -u ${{ github.event.inputs.version }}

      - name: Update the dependencies (@prisma/engines-version)
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 7
          max_attempts: 3
          command: |
            echo 'Updating @prisma/engines-version to ${{ github.event.inputs.version }} using pnpm'
            pnpm update -r @prisma/engines-version@${{ github.event.inputs.version }}

      - name: Update the dependencies (@prisma/prisma-schema-wasm)
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 7
          max_attempts: 3
          command: |
            echo 'Updating @prisma/prisma-schema-wasm to ${{ github.event.inputs.version }} using pnpm'
            pnpm update -r @prisma/prisma-schema-wasm@${{ github.event.inputs.version }}

      - name: Update the dependencies (@prisma/query-compiler-wasm)
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 7
          max_attempts: 3
          command: |
            echo 'Updating @prisma/query-compiler-wasm to ${{ github.event.inputs.version }} using pnpm'
            pnpm update -r @prisma/query-compiler-wasm@${{ github.event.inputs.version }}

      - name: Update the dependencies (@prisma/schema-engine-wasm)
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 7
          max_attempts: 3
          command: |
            echo 'Updating @prisma/schema-engine-wasm to ${{ github.event.inputs.version }} using pnpm'
            pnpm update -r @prisma/schema-engine-wasm@${{ github.event.inputs.version }}

      - name: Extract Engine Commit hash from version
        id: extract-engine-commit-hash
        uses: actions/github-script@v7
        with:
          script: |
            const hash = context.payload.inputs.version.split('.').pop()
            core.setOutput('hash', hash)

      #
      # Regular engines PR, from prisma-engines main branch
      # Will be automerged if tests are passing
      #
      - name: Create Pull Request
        id: cpr
        if: github.event.inputs.npmDistTag == 'latest'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.BOT_TOKEN }}
          commit-message: 'chore(deps): update engines to ${{ github.event.inputs.version }}'
          committer: 'Prismo <prismabots@gmail.com>'
          author: 'Prismo <prismabots@gmail.com>'
          base: ${{ steps.select-base.outputs.base }}
          branch: deps/engines-${{ github.event.inputs.version }}
          delete-branch: true
          labels: automerge
          title: 'chore(deps): update engines to ${{ github.event.inputs.version }}'
          body: |
            The base branch for this PR is: ${{ steps.select-base.outputs.displayBase }}
            This automatic PR updates the engines to version `${{ github.event.inputs.version }}`.
            This will get automatically merged if all the tests pass.
            :warning: If this PR needs to be updated, first remove the `automerge` label before pushing to avoid automerge to merge without waiting for tests.
            ## Packages
            | Package | NPM URL |
            |---------|---------|
            |`@prisma/engines-version`| https://npmjs.com/package/@prisma/engines-version/v/${{ github.event.inputs.version }}|
            |`@prisma/prisma-schema-wasm`| https://npmjs.com/package/@prisma/prisma-schema-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/query-compiler-wasm`| https://npmjs.com/package/@prisma/query-compiler-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/schema-engine-wasm`| https://npmjs.com/package/@prisma/schema-engine-wasm/v/${{ github.event.inputs.version }}|
            ## Engines commit
            [`prisma/prisma-engines@${{ steps.extract-engine-commit-hash.outputs.hash }}`](https://github.com/prisma/prisma-engines/commit/${{ steps.extract-engine-commit-hash.outputs.hash }})
      - name: PR url
        if: github.event.inputs.npmDistTag == 'latest'
        run: |
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
      - name: Sleep for 5 seconds
        if: github.event.inputs.npmDistTag == 'latest'
        run: sleep 5s
        shell: bash
      - name: Auto approve Pull Request (to trigger automerge if tests passing)
        if: github.event.inputs.npmDistTag == 'latest' && steps.cpr.outputs.pull-request-operation == 'created'
        uses: juliangruber/approve-pull-request-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.cpr.outputs.pull-request-number }}

      #
      # Next branch engines PR (from prisma-engines next branch)
      # Will be automerged if tests are passing
      #
      - name: Create Pull Request for Next engines
        id: cpr-next
        if: github.event.inputs.npmDistTag == 'next'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.BOT_TOKEN }}
          commit-message: 'chore(deps): update engines to ${{ github.event.inputs.version }}'
          committer: 'Prismo <prismabots@gmail.com>'
          author: 'Prismo <prismabots@gmail.com>'
          base: ${{ steps.select-base.outputs.base }}
          branch: deps/next-engines-${{ github.event.inputs.version }}
          delete-branch: true
          labels: automerge
          title: 'chore(deps): update engines to ${{ github.event.inputs.version }}'
          body: |
            The base branch for this PR is: ${{ steps.select-base.outputs.displayBase }}
            This automatic PR updates the engines to version `${{ github.event.inputs.version }}`.
            This will get automatically merged if all the tests pass.
            :warning: If this PR needs to be updated, first remove the `automerge` label before pushing to avoid automerge to merge without waiting for tests.
            ## Packages
            | Package | NPM URL |
            |---------|---------|
            |`@prisma/engines-version`| https://npmjs.com/package/@prisma/engines-version/v/${{ github.event.inputs.version }}|
            |`@prisma/prisma-schema-wasm`| https://npmjs.com/package/@prisma/prisma-schema-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/query-engine-wasm`| https://npmjs.com/package/@prisma/query-engine-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/query-compiler-wasm`| https://npmjs.com/package/@prisma/query-compiler-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/schema-engine-wasm`| https://npmjs.com/package/@prisma/schema-engine-wasm/v/${{ github.event.inputs.version }}|
            ## Engines commit
            [`prisma/prisma-engines@${{ steps.extract-engine-commit-hash.outputs.hash }}`](https://github.com/prisma/prisma-engines/commit/${{ steps.extract-engine-commit-hash.outputs.hash }})
      - name: PR url
        if: github.event.inputs.npmDistTag == 'next'
        run: |
          echo "Pull Request URL - ${{ steps.cpr-next.outputs.pull-request-url }}"
      - name: Sleep for 5 seconds
        if: github.event.inputs.npmDistTag == 'next'
        run: sleep 5s
        shell: bash
      - name: Auto approve Pull Request (next)
        if: github.event.inputs.npmDistTag == 'next' && steps.cpr-next.outputs.pull-request-operation == 'created'
        uses: juliangruber/approve-pull-request-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ steps.cpr-next.outputs.pull-request-number }}

      #
      # Integration Engine PR for end to end testing (From prisma/prisma-engines to prisma/prisma and finally npm)
      # This will create a draft PR as we don't want to merge it
      # But we want to publish it to npm
      # For that we can create an `integration/` branch
      #
      - name: Create Pull Request for Integration Engine
        id: cpr-integration
        if: github.event.inputs.npmDistTag == 'integration'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.BOT_TOKEN }}
          commit-message: 'chore(deps): update engines to ${{ github.event.inputs.version }}'
          committer: 'Prismo <prismabots@gmail.com>'
          author: 'Prismo <prismabots@gmail.com>'
          base: ${{ steps.select-base.outputs.base }}
          branch: integration/engines-${{ github.event.inputs.version }}
          delete-branch: true
          draft: true
          title: 'chore(Automated Integration PR): update engines to ${{ github.event.inputs.version }}'
          body: |
            The base branch for this PR is: ${{ steps.select-base.outputs.displayBase }}
            This automatic integration PR updates the engines to version `${{ github.event.inputs.version }}`.
            :warning: This PR should normally not be merged.
            ## Packages
            | Package | NPM URL |
            |---------|---------|
            |`@prisma/engines-version`| https://npmjs.com/package/@prisma/engines-version/v/${{ github.event.inputs.version }}|
            |`@prisma/prisma-schema-wasm`| https://npmjs.com/package/@prisma/prisma-schema-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/query-compiler-wasm`| https://npmjs.com/package/@prisma/query-compiler-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/schema-engine-wasm`| https://npmjs.com/package/@prisma/schema-engine-wasm/v/${{ github.event.inputs.version }}|
            ## Engines commit
            [`prisma/prisma-engines@${{ steps.extract-engine-commit-hash.outputs.hash }}`](https://github.com/prisma/prisma-engines/commit/${{ steps.extract-engine-commit-hash.outputs.hash }})
      - name: PR url
        if: github.event.inputs.npmDistTag == 'integration'
        run: |
          echo "Pull Request URL - ${{ steps.cpr-integration.outputs.pull-request-url }}"

      #
      # Patch Engine PR, from a prisma-engines patch branch (e.g. "4.6.x")
      # This will create a PR that will need to be manually merged
      #
      - name: Create Pull Request for Patch Engine
        id: cpr-patch
        if: github.event.inputs.npmDistTag == 'patch'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.BOT_TOKEN }}
          commit-message: 'chore(deps): update engines to ${{ github.event.inputs.version }}'
          committer: 'Prismo <prismabots@gmail.com>'
          author: 'Prismo <prismabots@gmail.com>'
          base: ${{ steps.select-base.outputs.base }}
          branch: patch/${{ github.event.inputs.version }}
          title: 'chore(deps): patch ${{ steps.select-base.outputs.displayBase }} ${{ github.event.inputs.version }}'
          body: |
            The base branch for this PR is: ${{ steps.select-base.outputs.displayBase }}
            This automatic PR updates the engines to version `${{ github.event.inputs.version }}`.
            This PR will need to be manually merged (no auto-merge).
            ## Packages
            | Package | NPM URL |
            |---------|---------|
            |`@prisma/engines-version`| https://npmjs.com/package/@prisma/engines-version/v/${{ github.event.inputs.version }}|
            |`@prisma/prisma-schema-wasm`| https://npmjs.com/package/@prisma/prisma-schema-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/query-compiler-wasm`| https://npmjs.com/package/@prisma/query-compiler-wasm/v/${{ github.event.inputs.version }}|
            |`@prisma/schema-engine-wasm`| https://npmjs.com/package/@prisma/schema-engine-wasm/v/${{ github.event.inputs.version }}|
            ## Engines commit
            [`prisma/prisma-engines@${{ steps.extract-engine-commit-hash.outputs.hash }}`](https://github.com/prisma/prisma-engines/commit/${{ steps.extract-engine-commit-hash.outputs.hash }})
      - name: PR url
        if: github.event.inputs.npmDistTag == 'patch'
        run: |
          echo "Pull Request URL - ${{ steps.cpr-patch.outputs.pull-request-url }}"
